/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin: 0;
	font-family: Calibri, sans-serif;
}

header {
	background-color: black;
	height: 50px;
	padding-top: 20px;
}

header a, header a:visited {
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin: 20px 0 0 15px;
}

.home {
	text-align: center;
}

.body {
	padding: 50px 0 0 80px;
	font-size: 25px;
}

.sub-heading {
	text-align: center;
	padding-left: 0;
}

.index {
}

.item {
	border-top: solid;
	padding-top: 10px;
}

.item a, .item a:visited {
	color: blue;
	text-decoration: none;
}

.item a:hover {
	color: green;
}

table .nav {
	font-size: 12px;
}
